<h2>Patient List</h2>
{{#link-to "patients.new"}}Add Patient{{/link-to}}
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Bed Number</th>
      <th>Patient Name</th>
      <th>Blood Pressure</th>
      <th>Heart Rate</th>
      <th>Respitory Rate</th>
    </tr>
  </thead>
  <tbody>
    {{#each controller}}
      <tr>
        <td></td>
        <td>{{lastName}}, {{first_name}}</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    {{/each}}
  </tbody>
</table>