<h2>Patient List{{#link-to "patients.new" class="btn btn-success pull-right"}}Add Patient{{/link-to}}</h2>
<table class="table table-bordered table-striped table-hover">
  <thead>
    <tr>
      <th>Bed Number</th>
      <th>Patient Name</th>
      <th>Temperature</th>
      <th>Blood Pressure</th>
      <th>Heart Rate</th>
      <th>Respitory Rate</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{#each patient in model}}
      {{#link-to 'patient' patient tagName="tr"}}
        <td>{{patient.bed_number}}</td>
        <td>{{#link-to 'patient' patient}}{{patient.last_name}}, {{patient.first_name}}{{/link-to}}</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>{{#link-to 'vitals.new' patient class="btn btn-success"}}+{{/link-to}}</td>
      {{/link-to}}
    {{/each}}
  </tbody>
</table>