<h2>Patient List</h2>
<button {{action newPatient}}>Draw Winner</button>
{{view Ember.TextField valueBinding="newPatientName" action="addPatient"}}
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Bed Number</th>
      <th>Patient Name</th>
      <th>Blood Pressure</th>
      <th>Heart Rate</th>
      <th>Respitory Rate</th>
    </tr>
  </thead>
  <tbody>
    {{#each patients}}
      <tr>
        <td></td>
        <td>{{name}}</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    {{/each}}
  </tbody>
</table>